/*scrollbar*/

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: hsla(195, 53%, 79%, 0.5); 
}

::-webkit-scrollbar-thumb:hover {
  background: #add8e6; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    margin: 0;
  }

body a {
  text-decoration: none;
  color: red;
}

  body p, li {
    font-size: 20px;
  }
  
  nav {
    z-index: 100;
    position: sticky;
    top: 0px;
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 0.5em 1em;
    height: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  nav li {
    margin: 0 2em;
  }
  
  nav li a {
    color: white;
    font-size: 20px;
  }

  a {
    text-decoration: none;
  }
  
  main {
    margin: 0 15%;
  }
  
  h1, h2 {
    margin: 0.5em 0;
  }
  
  h1 {
    text-align: center;
  }

  #titolo {
    margin: 200px 0;
    font-size: 40px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    color: white;
    padding: 0.5em 10em;
    text-align: center;
    margin-top: 10%;
  }
  
.introduzione {
  margin: 200px auto;
  background-color: hsla(195, 53%, 79%, 0.5);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

#text-int {
  margin: 10px;
  width: 50%;
  font-weight: 500;
  font-size: 20px;
}


#text-int a {
  color: red;
}

.introduzione img {
  width: 50%;
}

.args {
  margin: 150px;
  text-align: center;
}

.args ol {
  width: 500px;
  margin: auto;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.args li {
  width: 100%;
  padding: 40px 0;
  font-size: 20px;
  font-weight: 500;
}

.args h2 {
  margin: 50px;
  font-size: 40px;
}

.text-1{
  padding: 20px;
  background-color: hsla(195, 53%, 79%, 0.5);
  font-size: 20px;
  font-weight: 500;
  border: 10px white dashed;
}

.text-1 a {
  color: red;
}

.arg1 h2 {
  margin: 100px auto;
  text-align: center;
  font-size: 40px;
}

.arg1 li {
  padding: 10px 0;
}

.arg2 {
  margin: 150px 0;
}

.arg2 h2 {
  margin: 100px auto;
  text-align: center;
  font-size: 50px;
}

.proc-thread {
  font-size: 20px;
  width: 70%;
  margin: auto
}

#proc {
  display: flex;
  padding: 20px;
}

#proc p {
  width: 70%;
  margin: 50px;
}

#thread {
  display: flex;
  padding: 20px;
}

#thread p {
  width: 70%;
  margin: 50px;
}

.c-switch {
  width: auto;
}

.c-switch h2 {
  font-size: 40px;
}

.c-switch #content {
  margin-top: 150px;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.c-switch #content p {
  width: 50%;
  margin: 50px;
  font-size: 20px;
}

.c-switch #content #a {
  width: 50%;
  height: 100%;
}

.c-switch #content #b {
  width: 20%;
}

.thread-info h2 {
  font-size: 40px;
}

.thread-info .fore-back {
  font-size: 20px;
  border: 7px hsla(195, 53%, 79%, 0.5) dashed;
  padding: 20px;
}

.KUI {
  font-size: 20px;
  margin: 100px 0 ;
}

.KUI p {
  margin-bottom: 100px;
}

.wp-block-table {
    margin: 0 0 1.5rem;
    border-collapse: collapse;
    border: 5px hsl(195, 53%, 79%) solid;
    width: 100%;
  }
.wp-block-table td, .wp-block-table th {
    padding: 1rem;
    overflow-wrap: break-word;
}

.stati-thread h2 {
  font-size: 40px;
  margin: 150px 0;
}

.stati-thread #content2 {
  display: flex;
  font-size: 20px;
  padding: 20px;
}

.stati-thread #content2 ul {
  width: 50%;
}

.stati-thread #content2 ul li {
  padding: 20px 0;
}

.stati-thread #content2 img {
  width: 50%;
}

.operazioni-thread h2 {
  font-size: 40px;
  margin: 150px 0;
}

.operazioni-thread ol {
  margin: 40px 0 40px;
  padding: 20px;
}

.operazioni-thread ol li{
  padding: 20px 0;
  font-size: 20px;
}

.operazioni-thread p {
  font-size: 20px;
}

.arg3 h2 {
  margin: 100px auto;
  text-align: center;
  font-size: 50px;  
}

.arg3 .indice {
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.arg3 .indice p {
  text-align: center;
}

.arg3 .indice ul {
  display: inline-block;
  text-align: left; 
}

ul li {
  list-style: none;
  padding: 20px 0;
}

ul li::before {
  content: "\2022";
  color: #add8e6;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.arg3 .com-proc-thread h2 {
  font-size: 40px;
  margin: 150px 0;
}

.arg3 .intro-critica {
  font-size: 20px;
}

.arg3 .intro-critica #intro {
  border: 5px hsl(195, 53%, 79%) solid;
  padding: 20px;
}

.intro-critica .esempio1 {
  display: flex;
  margin: 150px 0;
}

.esempio1 img {
  margin-left: 50px;
  width: 50%;
  height: 50%;
}

.esempio1 p {
  margin: 130px 100px 100px 0px;
  line-height: 40px;
}

.critica {
  font-size: 20px;
}

.critica p {
  padding: 10px 0;
}

.sol-bool {
  font-size: 20px;
}

.sol-bool-content {
  display: flex;
}

.sol-bool-content img {
  width: 50%;
}

.sol-bool-content p {
  margin-right: 100px;
  line-height: 30px; 
}

.busy-waiting {
  margin: 100px 0;
}

.busy-waiting p {
  width: 50%;
}

.semafori h2 {
  font-size: 40px;
  margin: 150px 0;
}

.definizione {
  font-size: 20px;
}

.definizione #def {
  text-align: center;
  border: 5px #add8e6 dashed;
  padding: 20px;
  margin-bottom: 50px;
}

.comp-semaforo  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testo-sem ul {
  padding-left: 20px;
  margin-left: 50px;
}

.testo-sem {
  display: flex;
  align-items: center;
}

.comp-semaforo img {
  width: 30%;
}

.tipologia-sem {
  margin: 100px 0;
}

.ws {
  display: flex;
  margin: 100px 0;
  height: 300;
}

.ws img {
  width: 70%;
  margin-left: 20px;
}

.ws p {
  line-height: 30px;
  padding-top: 40px;
}

.wait, .signal {
  margin: 50px;
}

.es-ws img {
  width: 50%;
}

.es-ws {
  margin-top: 100px;
}

.es-ws p {
  margin: 100px 0;
}

.content-es1, .content-es2 {
  display: flex;
}

.content-es1 img {
  width: 40%;
  margin-left: 50px;
}

.content-es1 ol li {
  padding: 10px 0;
}

.content-es2 img {
  width: 35%;
  height: auto;
  margin-left: 50px;
}

.content-es2 ol li {
  padding: 10px 0;
}

.content-es2 p {
  margin-top: 200px;
}

#def-mutex {
  padding: 20px;
  border: 5px hsl(195, 53%, 79%) solid;
}

.creazione-mutex {
  margin-top: 100px;
}

.statico, .dinamico {
  font-size: 20px;
  margin: 50px 0;
}

.spiegazione-statico img {
  width: 55%;
  margin-left: 50px;
  right: 0;
}

.statico .spiegazione-statico {
  display: flex;
}

.spiegazione-statico p {
  line-height: 30px;
}

.spiegazione-dinamico {
  display: flex;
  align-items: center;
}

.spiegazione-dinamico img {
  width: 50%;
  height: 100px;
  margin-left: 200px;
  right: 0;
}

.lock-trylock {
  margin: 50px 0;
}

.content-lock, .content-trylock, .content-unlock, .content-destroy {
  display: flex;
  align-items: center;
}

.content-lock img, .content-trylock img, .content-unlock img, .content-destroy img {
  margin-left: 100px;
}

.spieg-unlock {
  margin: 50px 0;
}

.content-destroy ol li {
  padding: 10px;
}

.esempi-imp h2 {
  font-size: 40px;
}

.esempi-imp #intro-imp {
  text-align: center;
  line-height: 30px;
}

.prod-cons {
  margin: 100px 0;
}

.intro-prod-cons {
  margin-top: 50px;
}

.content1 {
  margin: 50px 0;
  display: flex;
}

.content1 ol {
  padding: 20px;
}

.content1 ol li {
  padding: 10px 0;
}

.content1 img {
  width: 40%;
}

.intro-let-scrit {
  margin-top: 50px;
}

.content2 {
  margin: 50px 0;
  display: flex;
  align-items: center;
}

.content2 ol {
  padding: 20px;
  margin-top: 0;
}

.content2 ol li {
  padding: 10px 0;
}

.content2 img {
  width: 40%;
  height: 70%;
}

.messaggi {
  margin: 100px 0;
}

.messaggi h2 {
  font-size: 40px;
}

.send-receive {
  display: flex;
  justify-content: space-between;
}

.send-receive img {
  width: 50%;
}

.send {
  margin-top: 50px;
}

.comp-mes {
  display: flex;
  justify-content: space-between;
}

.messaggio {
  margin-top: 50px;
}

.mail-content {
  display: flex;
  justify-content: space-between;
}

.mail-content img {
  width: 60%;
}

.es-mes-1, .es-mes-2 {
  margin-top: 100px;
}

.es-mes-1-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.es-mes-1-content img {
  width: 30%;
}

.es-mes-1-content ol {
  padding: 0 20px;
}

.es-mes-1-content li {
  padding: 20px 0;
}

.es-mes-2-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.es-mes-2-content img {
  width: 30%;
}

.es-mes-2-content ol {
  padding: 0 20px;
}

.es-mes-2-content li {
  padding: 20px 0;
}

.prob-gestione {
  margin-top: 150px;
}

.prob-gestione h2 {
  font-size: 40px;
}

.deadlock {
  margin-top: 40px;
}

.deadlock h3 {
  font-size: 30px;
}

.definizione-deadlock {
  display: flex;
  align-items: center;
}

.definizione-deadlock img {
  width: 50%;
  margin-left: 50px;
  height: 100%;
}

.definizione-deadlock #def-deadlock-p
{
  border: 5px solid lightblue;
  padding: 20px;
}

.cond-deadlock ol li {
  padding: 20px 0;
}

.cond-deadlock {
  margin-top: 50px;
}

.risorse {
  margin-top: 100px;
}

.risorse h3 {
  margin-bottom: 50px;
}

.risorse ul li {
  padding: 10px 0;
}

.div-in-2 {
  display: flex;
  justify-content: space-between;
}

.div-1 {
  margin-right: 50px;
}

.div-2 {
  width: 50%;
  margin-left: 50px;
}

.come-rag {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.es-rag {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.img-1 {
  width: 33%;
}

.img-2 {
  width: 33%;
}

.img-3 {
  width: 33%;
}

.img-1 h3 {
  margin-top: 19%;
  text-align: center;
}

.img-2 h3 {
  text-align: center;
}

.img-3 h3 {
  text-align: center;
}

.gestione-deadlock {
  margin-top: 150px;
}

.gestione-deadlock ol li {
  padding: 20px;
}

.fine {
  margin-top: 200px;
}

.fine h1 {
  font-size: 50px;
  margin: 100px 0;
}

.fine p {
  line-height: 30px;
  text-align: center;
}


@media screen and (max-width: 1900px) and (min-width: 1450px) {
  main {
    margin: 0 5%;
  }
}
